body {
  margin:0px;
  background-color:rgba(247, 251, 252, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}


#u200 {
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	height:300px
	
}	
	
#u200_img {
	position:absolute;
	left:0px
	top:0px;
	width:1024px;
	height:100px;
	
}
#u300 {
  position:absolute;
  left:2px;
  top:232px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}



#u4 {
  position:absolute;
  left:222px;
  top:20px;
  width:33px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:257px;
  top:24px;
  width:133px;
  height:31px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}

#u1313 {
  position:absolute;
  left:472px;
  top:410px;
  width:80px;
  height:46px;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}

#u1111 {
  position:absolute;
  left:203px;
  top:450px;
  width:243px;
  height:10px;
}
#u1111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1111_end {
  position:absolute;
  left:226px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1111_line {
  position:absolute;
  left:0px;
  top:3px;
  width:243px;
  height:4px;
}

#u64 {
  position:absolute;
  left:0px;
  top:3400px;
  width:1024px;
  height:100px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
}
#u65 {
  position:absolute;
  left:2px;
  top:42px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}

#u68 {
  position:absolute;
  left:0px;
  top:3490px;
  width:1024px;
  height:10px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:10px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:857px;
  top:21px;
  width:58px;
  height:22px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u71 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:891px;
  top:22px;
  width:20px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:864px;
  top:24px;
  width:14px;
  height:16px;
  color:#D6323F;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:892px;
  top:24px;
  width:19px;
  height:16px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}

#u780 {
  position:absolute;
  left:400px;
  top:24px;
  width:72px;
  height:16px;
  color:#FFFFFF;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u780_img.mouseOver {
}
#u780.mouseOver {
}
#u790 {
  position:absolute;
  left:-17px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:476px;
  top:24px;
  width:72px;
  height:16px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:540px;
  top:24px;
  width:112px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:650px;
  top:24px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:773px;
  top:24px;
  width:78px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}

#u860 {
  position:absolute;
  left:405px;
  top:46px;
  width:25px;
  height:10px;
}
#u860_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u860_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u860_line {
  position:absolute;
  left:-80px;
  top:3px;
  width:25px;
  height:5px;
}
#u87 {
  position:absolute;
  left:584px;
  top:46px;
  width:25px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:3px;
  width:25px;
  height:5px;
}
#u88 {
  position:absolute;
  left:696px;
  top:46px;
  width:25px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:3px;
  width:25px;
  height:5px;
}
#u89 {
  position:absolute;
  left:794px;
  top:46px;
  width:25px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:3px;
  width:25px;
  height:5px;
}
#u980 {
  position:absolute;
  left:445px;
  top:966px;
  width:135px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:24px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1500{
  position:absolute;
  left:120px;
  top:500px;
  width:800px;
  word-wrap:break-word;
  text-align: justify;
  font-family: "Arial Normal";
  font-size: 15px;
  color: #666666;
}